@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato";
  /* min-height: 8000px; */
  /* width: 100%; */
  box-sizing: border-box;
}
#heroSection {
  background-image: url("https://images.unsplash.com/photo-1572120360610-d971b9d7767c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  background-size: cover;
}
.menu-btn {
  @apply cursor-pointer transition-transform duration-1000;
}

.menu-btn.close {
  @apply transform rotate-180;
}

.btn-line {
  @apply w-7 h-0.5 mb-1 transition-transform duration-1000;
}

.menu-btn.close .btn-line:nth-child(1) {
  @apply transform rotate-45 translate-x-1.5 translate-y-1.5;
}

.menu-btn.close .btn-line:nth-child(2) {
  @apply opacity-0;
}

.menu-btn.close .btn-line:nth-child(3) {
  @apply transform -rotate-45 translate-x-1.5 -translate-y-1.5;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.slick-dots {
  transform: translateY(5px);
}

.slick-dots li {
  margin: 0px -2px;
}

.slick-dots li button::before {
  font-size: 10px;
}
/* .slick-next::before,
.slick-prev::before {
  color: black;
}
.slick-prev {
  left: -23px;
}
.slick-next {
  right: -15px;
} */

.accordion-trigger > svg {
  height: 30px;
  width: 30px;
}
.diagonal-split {
  background: linear-gradient(to bottom right, #053847 50%, #05323f 50%);
  border: 1px solid black; /* Optional: to make the div border visible */
}

#animateAuth {
  animation: animateAuth 1000ms ease-in-out forwards;
}

@keyframes animateAuth {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  top: 35% !important;
}
.swiper-button-next {
  top: 35% !important;
}

.swiper-button-prev::after {
  font-size: 30px !important;
  top: 50px !important;
  color: #ab644b;
}
.swiper-button-next::after {
  font-size: 30px !important;
  color: #ab644b;
}
.css-f84ov1-MuiTypography-root {
  display: none;
}

.css-14tatqh-MuiTypography-root {
  color: #ab644b !important;
}
